.btn-pink {
    text-decoration: none;
    color: white;
    font-family: 'Pixelify';
    text-transform: uppercase;
    font-size: 30px;
    
        &:hover{
            color: rgb(192, 45, 184);
            background-color: black;
            padding: 10px;
            border-radius: 3px;
        }
}