#apropos{
    width: 100%;
    height: 80vh;
    padding-top: 10%;
    background-image: url('../../img/5f085809f2b711643e4eb4974cc03c0e.gif');
   
    
    .apropos-cover{
        width: 50%;
        height: 88%;
        background-color: rgba(0, 0, 0, 0.7);
        float: left;

        .apropos-content{
            text-align: justify;
            padding-top: 50px;
            width: 70%;
            color: white;
            margin: auto;



            img{
                width: 40%;
                margin-left: 60%;
                padding-top: 50px;
                //border-radius: 50%;
            }
        }
    }
}

#hardskills{
    padding: 5% 0;
    height: 80vh;
    background-color: rgb(220, 219, 219);

    .hardskills-title{
        text-align: center;
        color: black;
        padding-bottom: 2%;
    
    }

    #hardskills-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 70px;
        justify-content: center;
        
        .logo-skills{
            width: 150px;
            margin: 100px 0;
        }
        
        li{
            padding: 5px;
        }
    }
}

#projets{
    padding: 5% 0;
    background-image: url('../../img/coffee_in_rain_by_kirokaze-d98qb8z.webp');
    .projets-title{
        text-align: center;
        color: white;
        padding-bottom: 2%;
    
    }
 

.card{
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(192, 45, 184);
    background-position: center;
    background-size: cover;
    //background-attachment: fixed;
    padding: 10%;
    font-family: 'Pixelify';
    font-size: 40px;
    text-align: center;
    
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: rgb(192, 45, 184);
            background-color: black;
            padding: 5px;
            border-radius: 3px;
        }
    }
    
}
.card.card1{
    background-image: url("../../img/wator.png");
}
.card.card2{
    background-image: url("../../img/pendu.png");
}
.card.card3{
    background-image: url("../../img/shootemup.png");
}
.card.card4{
    background-image: url("img/23412278894_25cda29b4d_b.jpg");
}
.card.card5{
    background-image: url("../../img/eurovelo.png");
}
.card.card6{
    background-image: url("../../img/roadcrossing.png");
}


.grid{
    display: grid;
    grid-gap: 10px;
    width: 60%;
    margin: auto;
    
    

    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(5, 200px);*/

    
}

.card:nth-child(1){
    grid-column: 1 / span 3;
}
.card:nth-child(2){
    grid-row:  2 / 4;
}

.card:nth-child(5){
    grid-column:  2 / 4;
}
.card:nth-child(6){
    grid-column:  1 / span 2;
}


}


#formations{
    padding: 5% 0;
    height: 70vh;
    background-image: url('../../img/coffee_in_rain_by_kirokaze-d98qb8z.webp');

    .formations-title{
        text-align: center;
        color: white;
        padding-bottom: 2%;
    
    }
}

#hobbies{
    padding: 5% 0;
    height: 60vh;
    background-color: rgb(220, 219, 219);

    .hobbies-title{
        text-align: center;
        color: black;
        padding-bottom: 2%;
    
    }
}
@media (max-width: 1410px) {
    #hardskills{
        height: 150vh;


    }
}

@media (max-width: 990px) {
    .menu-items li a {
        font-size: 15px;
    }

    #apropos{
        
        
        .apropos-cover{
            width: 90%;
            padding-top: 50px;
            
        }
    }
   #hardskills{
    height: 180vh;


    } 

}


@media (max-width: 768px) {
   
}